<div class="author-box">
  <img src="/assets/img/author.jpg" alt="{{ author }}" loading="lazy">
  <div>
    <h4>{{ author }}</h4>
    <p>Legal practitioner with experience in litigation and advisory.</p>
  </div>
</div>
