
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% include "components/seo.njk" %}

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  <script defer src="{{ '/assets/js/main.js' | url }}"></script>
</head>
<body>
  {% include "components/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "components/footer.njk" %}
</body>
</html>
